@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

body {
    background-color: lightgray;
    font-family: 'Montserrat Alternates';
    width: 98.7%;
}

header div {
    background-color: paleturquoise;
}
header div#cabecera {
    padding-top: 1%;
    padding-bottom: 1%;
}

a .logo {
    width: 60%;
}

ul,
ol {
    list-style: none;
}

main div {
    background-color: white;

}
footer {
    background-color: white;

}
h1,
h2,
h3 {
    color: #50B1DB;

}


input {
    background-color: #1993BF;
    color: white;
}

h1 {
    font-weight: bold;
}

h1::first-letter {
    border-bottom: 2px solid #257394;
}

h2::first-letter {
    border-bottom: 2px solid #257394;
}

h3:first-letter {
    border-bottom: 2px solid #257394;
}

.activo {
    border: 2px solid #1993BF;
    border-radius: 10px 10px 10px 10px;
}

#menu_gral li ul {
    position: absolute;
    display: none;
}

#menu_gral li#cat ul li {
    line-height: 230%;
    border-bottom: 1px solid #1993BF;
}


#menu_gral li#cat:hover ul,
#menu_gral li#cat:focus ul {

    display: block;
    background-color: paleturquoise;
    z-index: 5;
    margin-left: 4.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
#menu_gral li#inicio:hover ul,
#menu_gral li#inicio:focus ul {
    display: block;
    background-color: paleturquoise;
    z-index: 5;
    margin-left: 5.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
#menu_gral li#inicio ul li{
    line-height: 230%;
    border-bottom: 1px solid #1993BF;
}

/*Login HTML CSS*/
.c2{
    margin-top: 2%;
}

.g{
    background: none
}

.card{
    margin-top: 1.5%;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.6) !important;
    margin-top: 0%;
}

.card h3{
    font-weight: bold;
}

.card-body{
    background-color: lightblue;
}

.social_icon span a{
    font-size: 60px;
    margin-left: 10px;
    color: #D67F09;
}

.social_icon span a:hover{
    color: #FC8D95;
    cursor: pointer;
}

.social_icon{
    position: absolute;
    right: 10px;
    top: -45px;
    background: none;
}

.input-group-prepend span{
    width: 50px;
    background-color: #D67F09;
    color: black;
    border:0 !important;
}

.input-group-prepend, input-group form-group {
    margin-top: 0%;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: #0045bf;
    font-weight: bold;
    background-color: lightblue;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #D67F09;
    width: 100px;
}

/*
.login_btn:hover{
    color: black;
    background-color: #DA7D83;
}
*/

.links{
    color: #0045bf;
    background-color: lightblue;
    font-weight: bold;
}

.links a{
    margin-left: 4px;
}

/*End Login HTML CSS*/
